<div>
    <div id="categories">
        <div>
            <p>
                <a href="{{`/` | relLangURL }}">Home</a>
            </p>
            {{ if not .Site.Params.omit_categories }}
                {{ range $name,$taxonomy := .Site.Taxonomies.categories }}
                    <p>
                        <a href="{{- `categories/` | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
                    </p>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <nav>
        <div>
            <a href="{{ .Site.BaseURL }}">
                <h1>{{ .Site.Title }}</h1>
            </a>
        </div>
        <div>
            <div>
                {{ range .Site.Params.social }}
                <a href="">
                    <span>
                        <i></i>
                    </span>
                </a>
                {{ end }}
            </div>
        </div>
    </nav>
</div>