<section>
    <div>
        <nav>
            <div>
                {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}">Newer</a>
                {{ else }}
                    <a disabled>Newer</a>
                {{ end }}
            </div>
            <div>
                {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}">Older</a>
                {{ else }}
                    <a disabled>Older</a>
                {{ end }}
            </div>
        </nav>
    </div>
</section>