<div class="container">
    <div class="columns">
        {{ if .Site.RegularPages }}
        {{ $pageGroups := (.Paginate (.Site.RegularPages.GroupByDate "2006")).PageGroups }}
        {{ .Scratch.Set "pageGroups" $pageGroups}}
        <!-- pass pageGroups params here to make code clean, thus post_list.html only get pageGroups and 
        just render it ,therefore repeated code in taxonomy.html can be reduced a lot -->
        <div class="column">
            {{ partial "post_list.html" .}}
            {{ partial "pagination.html" . }}
        </div>
        {{ end }}
    </div>
</div>